@import "mixins";

// COMPOSANT CARTS
.cart-component {
    @include display-flex;
    width: 1240px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50.5px;
    padding: 50.5px 0;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 0 50px;

    .cart-location {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 340px;
        height: 340px;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        p {
            width: 300px;
            height: auto;
            margin: 20px;
            text-align: start;
            font-size: 18px;
            font-weight: 700;
            color: white;
            line-height: 143%;
            z-index: 2;
        }
    }

    .cart-location::before {
        content: "";
        position: absolute;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        top: 0;
        left: 0;
        width: 340px;
        height: 340px;
    }
}


// COMPOSANT HOME (title)
.home-title {
    background-image: url(../images/background-image.png);
    @include composant-title;

    h1 {
        z-index: 2;
    }
}

.home-title::before {
    content: "";
    position: absolute;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: 1px solid;
    top: 0;
    left: 0;
    width: 1240px;
    height: 223px;
}


// COMPOSANT ABOUT
.about-title {
    background-image: url(../images/background-image2.png);
    @include composant-title;
}

.about-title::before {
    content: "";
    position: absolute;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 1240px;
    height: 223px;
}

.collapse-container {
    @include display-flex;
    gap: 30px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;

    .collapse {
        @include display-flex;
        flex-direction: column;

        div {
            display: flex;
            background-color: #FF6060;
            border-radius: 5px;
            width: 1023px;
            height: 54px;
            flex-direction: row;
            align-items: center;
            padding: 0 15px;
            transition: all 0.3s ease-in-out;  // transition

            .collapse-title, .collapse-arrow {
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: white;
            }

            .collapse-title {
                width: 956px;
            }

            .collapse-arrow {
                width: 32px;
            }
        }

        /* Contenu caché par défaut */
        .collapse-content {
            max-height: 0;
            opacity: 0;
            background-color: white;
            overflow: hidden;
            transition: max-height 0.4s ease-out, padding 0.4s ease-out, opacity 0.4s ease-out;
            padding: 0 15px;
        }

        /* Quand le collapse est ouvert, le contenu prend de la place */
        .collapse-content.show {
            max-height: auto;
            opacity: 1;
            background-color: white;
            padding: 15px;
            margin: 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 143%;
        }
    }
}