@use "mixins";

// COMPOSANT CARTS
.cart-component {
    @include mixins.display-flex;
    width: 100%;
    max-width: 1240px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50.5px;
    padding: 50.5px 0;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 0 auto;

    .cart-location {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 340px;
        height: 340px;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        p {
            width: 300px;
            height: auto;
            margin: 20px;
            text-align: start;
            font-size: 18px;
            font-weight: 700;
            color: white;
            line-height: 143%;
            z-index: 2;
        }
    }

    .cart-location::before {
        content: "";
        position: absolute;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        top: 0;
        left: 0;
        width: 340px;
        height: 340px;
    }
}

// COMPOSANT HOME (title)
.home-title {
    background-image: url(../images/background-image.png);
    @include mixins.composant-title;

    h1 {
        z-index: 2;
    }
}

.home-title::before {
    content: "";
    position: absolute;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: 1px solid;
    top: 0;
    left: 0;
    width: 1240px;
    height: 223px;
}

// COMPOSANT ABOUT
.about-title {
    background-image: url(../images/background-image2.png);
    @include mixins.composant-title;
}

.about-title::before {
    content: "";
    position: absolute;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 1240px;
    height: 223px;
}

.collapse-container {
    @include mixins.collapse-container;

    .collapse {
        @include mixins.collapse;

        div {
            @include mixins.collapse-div;
            width: 1023px;
            height: 54px;

            .collapse-title,
            .collapse-arrow {
                font-size: 24px;
                font-weight: 700;
                color: white;
            }

            .collapse-title {
                width: 956px;
            }

            .collapse-arrow {
                width: 32px;
            }
        }

        /* Contenu caché par défaut */
        .collapse-content {
            @include mixins.collapse-content;
            font-size: 22px;
        }

        /* Quand le collapse est ouvert, le contenu prend de la place */
        .collapse-content.show {
            @include mixins.collapse-content-show;
            padding: 30px 15px;
            font-size: 22px;
        }
    }
}


// Petits mobiles (jusqu'à 480px)
@media (max-width: 480px) {
    .cart-component {
        width: 335px;
        flex-direction: column;
        gap: 15px;
        padding: 0px;
        background-color: transparent;
        margin: 0 auto;

        .cart-location {
            width: 300px;
            height: 300px;

            p {
                margin: 15px;
            }
        }

        .cart-location::before {
            width: 300px;
            height: 300px;
        }
    }

    .home-title,
    .about-title {
        width: 335px;
        height: 111px;
        margin: 0 auto 20px auto;

        h1 {
            font-size: 24px;
        }
    }

    .home-title::before,
    .about-title::before {
        width: 335px;
        height: 111px;
    }

    .collapse-container .collapse div {
        width: 335px;
        height: 30px;

        .collapse-title {
            font-size: 13px;
        }

        .collapse-title {
            width: 293px;
        }

        .collapse-arrow {
            font-size: 18px;
            text-align: right;
        }
    }

    .collapse-content {
        font-size: 12px;
    }

    .collapse-content.show {
        padding: 10px;
        font-size: 12px;
    }
}

// Mobiles larges à tablettes petites (481px - 769px)
@media (min-width: 481px) and (max-width: 769px) {
    .cart-component {
        width: 95%;
        max-width: 720px;
        gap: 20px;
        padding: 10px;
        background-color: transparent;
        margin: 0 auto;

        .cart-location {
            p {
                margin: 15px;
            }
        }
    }

    .home-title,
    .about-title {
        max-width: 700px;
        height: 125.89px;

        h1 {
            font-size: 26px;
        }
    }

    .home-title::before,
    .about-title::before {
        max-width: 700px;
        height: 125.89px;
    }

    // COMPOSANT ABOUT
    .collapse-container .collapse div {
        width: 537px;
        height: 38px;

        .collapse-title {
            font-size: 18px;
        }

        .collapse-title {
            width: 481px;
        }

        .collapse-arrow {
            width: 32px;
        }
    }

    .collapse-content {
        font-size: 16px;
    }

    .collapse-content.show {
        padding: 15px;
        font-size: 16px;
    }
}

// Tablettes standard à petits laptops (770px - 1025px)
@media (min-width: 770px) and (max-width: 1025px) {
    .cart-component {
        width: 95%;
        max-width: 959.40px;
        gap: 50px;
        padding: 50px 0;
        margin: 0 auto;

        .cart-location {
            p {
                margin: 16px;
            }
        }
    }

    .home-title,
    .about-title {
        max-width: 933px;
        height: 169.90px;

        h1 {
            font-size: 26px;
        }
    }

    .home-title::before,
    .about-title::before {
        max-width: 933px;
        height: 169.90px;
    }

    .collapse-container .collapse div {
        width: 716px;
        height: 45px;

        .collapse-title {
            font-size: 20px;
        }

        .collapse-title {
            width: 641px;
        }

        .collapse-arrow {
            width: 32px;
        }
    }

    .collapse-content {
        font-size: 18px;
    }

    .collapse-content.show {
        padding: 40px 20px;
        font-size: 18px;
    }

}