@import "mixins";

footer {
    background-color: black;
    width:100%;
    margin: 50px 0 0 0;
}

.footer {
    @include display-flex;
    height: 209px;
    flex-direction: column;
    gap: 28px;

    img {
        width: 122px;
        height: 40px;
        margin: 66px 0 0 0;
    }

    p {
        @include typography-base;
        color: white;
    }
}