* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
}

body {
    background-color: white;
    max-width: 1440px;
    height: auto;
}

main {
    flex:1;
    margin: 50px;
    height: 1095px;
    width: 100%;
}

header {
    margin : 50px;
}

footer {
    background-color: black;
    width:100%;
    margin: 50px 0 0 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}