* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    margin: auto;
    width: 100%;
    height: auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

ul, li, ol {
    list-style: none;
}


// Petits mobiles (jusqu'à 480px)
@media (max-width: 480px) {
    
}

// Mobiles larges à tablettes petites (481px - 768px)
@media (min-width: 481px) and (max-width: 768px) {

}

// Tablettes standard à petits laptops (769px - 1024px)
@media (min-width: 769px) and (max-width: 1024px) {

}


// Au-delà de 1024px : desktops standards