@use "mixins";

header {
    margin: 50px auto; 
    text-align: center;
    width: 100%; // éviter les débordements
}

.header {
    width: 90%; // largeur flexible
    max-width: 1240px; // limite de largeur
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        width: 210.32px;
        height: auto; // éviter une hauteur fixe
    }

    nav {
        height: 34px;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            gap: 57px;

            li {
                a {
                    @include mixins.typography-base;
                    color: black;
                }

                a:focus {
                    border-bottom: 2px solid black;
                }

            }
        }
    }
}


// Petits mobiles (jusqu'à 480px)
@media (max-width: 480px) {
    header {
        margin: auto;
    }

    .header {
        width: 335px;
        margin: 10px auto;

        img {
            width: 145px;
            height: 46.88px;
        }

        nav {
            height: 14px;
            width: 190px;
            justify-content: flex-end;

            ul {
                gap: 10px;

                li {
                    a {
                        font-size: 12px;
                        text-transform: uppercase; // passer en lettres majuscules
                    }
                }
            }
        }
    }
}



// Mobiles larges à tablettes petites (481px - 769px)
@media (min-width: 481px) and (max-width: 769px) {
    header {
        margin: 30px auto;
    }

    .header {
        width: 663px;
    }
}


// Tablettes standard à petits laptops (770px - 1025px)
@media (min-width: 770px) and (max-width: 1025px) {
    header {
        margin: 40px auto;
    }

    .header {
        width: 882px;
    }
}