@use "mixins";

.location-page {
    @include mixins.display-flex;
    width: 100%;
    height: auto;
    flex-direction: column;

    .location-image {
        @include mixins.image-logement;
        border-radius: 25px;
        position: relative;
        animation: fadeIn 0.8s ease-in-out;

        @keyframes fadeIn {
            from {
                opacity: 0.4;
                transform: translateX(10px); // effet très léger de slide
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        div {
            padding: 0 20px;
            position: absolute; // positionnement absolu pour les flèches
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%); // Centre verticalement les flèches
            display: flex;
            justify-content: space-between; // flèches à gauche et à droite

            .vector-left,
            .vector-right {
                width: 46.68px;
                height: 79.20px;
                color: white;
            }
        }

        p {
            position: absolute; // positionnement absolu pour le compteur (1/x)
            bottom: 10px; // placer le compteur en bas à 10px
            left: 50%;
            transform: translateX(-50%); // centrer précisément
            color: white;
            color: white;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 15px;
        }
    }

    .location-infos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        max-width: 1240px;
        gap:0;
        margin: 0;
        padding: 0;

        .location-title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 635px;
            margin-top: 25px;
            gap: 25px;

            .title {
                display: flex;
                align-items: start;
                flex-direction: column;

                h2 {
                    margin-bottom: 5px;
                }

                p {
                    font-size: 18px;
                }
            }

            .button-filter {
                @include mixins.display-flex;
                flex-direction: row;
                width: auto;
                gap: 15px;

                button {
                    border: none;
                    padding: 0 10px;
                    border-radius: 10px;
                    background-color: #FF6060;
                    min-width: 115px;
                    width: auto;
                    height: 25px;
                    font-size: 14px;
                    font-weight: 700;
                    color: white;
                }
            } 
        }

        .location-filter {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 196px;
            height: auto;
            margin-top: 25px;
            gap: 35px;

            .author {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 64px;
                gap: 20px;

                p {
                    font-size: 18px;
                    color: #FF6060;
                    width: 93px;
                    text-align: right;
                    margin-top: 5px;
                }

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }

            .stars {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 196px;

                p {
                    font-size: 36px;
                    color: #FF6060
                }
            }
        }
    }

    .location-collapse {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        margin-top: 25px;
        width: 100%;
        gap: 80px;

        .collapse {
            @include mixins.collapse;
            width: 582px;

            div {
                @include mixins.collapse-div;
                height: 52px;

                .collapse-title,
                .collapse-arrow {
                    font-size: 18px;
                    font-weight: 700;
                    color: white;
                }

                .collapse-title {
                    width: 520px;
                }

                .collapse-arrow {
                    width: 32px;
                }
            }

            /* Contenu caché par défaut */
            .collapse-content {
                @include mixins.collapse-content;
            }

            /* Quand le collapse est ouvert, le contenu prend de la place */
            .collapse-content.show {
                @include mixins.collapse-content-show;
                padding: 80px 10px;
            }
        }
    }
}


// Petits mobiles (jusqu'à 480px)
@media (max-width: 480px) {}

// Mobiles larges à tablettes petites (481px - 769px)
@media (min-width: 481px) and (max-width: 769px) {}

// Tablettes standard à petits laptops (770px - 1025px)
@media (min-width: 770px) and (max-width: 1025px) {}