@use "mixins";

.location-page {
    @include mixins.display-flex;
    width: 100%;
    height: auto;
    flex-direction: column;

    .location-image {
        @include mixins.image-logement;
        width: 100%;
        max-width: 1240px;
        height: 415px;
        animation: fadeIn 0.8s ease-in-out;

        @keyframes fadeIn {
            from {
                opacity: 0.4;
                transform: translateX(10px); // effet très léger de slide
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        div {
            padding: 0 20px;
            position: absolute; // positionnement absolu pour les flèches
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%); // Centre verticalement les flèches
            display: flex;
            justify-content: space-between; // flèches à gauche et à droite

            .vector-left,
            .vector-right {
                width: 46.68px !important;
                height: 79.20px !important;
                color: white;
            }
        }

        p {
            position: absolute; // positionnement absolu pour le compteur (1/x)
            bottom: 10px; // placer le compteur en bas à 10px
            left: 50%;
            transform: translateX(-50%); // centrer précisément
            color: white;
            color: white;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 15px;
        }
    }

    .location-infos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        max-width: 1240px;
        gap:0;
        margin: 0;
        padding: 0;

        .location-title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 635px;
            margin-top: 25px;
            gap: 25px;

            .title {
                display: flex;
                align-items: start;
                flex-direction: column;

                h2 {
                    margin-bottom: 5px;
                }

                p {
                    font-size: 18px;
                }
            }

            .button-filter {
                @include mixins.display-flex;
                flex-direction: row;
                width: auto;
                gap: 15px;

                button {
                    border: none;
                    padding: 0 10px;
                    border-radius: 10px;
                    background-color: #FF6060;
                    min-width: 115px;
                    width: auto;
                    height: 25px;
                    font-size: 14px;
                    font-weight: 700;
                    color: white;
                }
            } 
        }

        .location-filter {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 196px;
            height: auto;
            margin-top: 25px;
            gap: 35px;

            .author {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 64px;
                gap: 20px;

                p {
                    font-size: 18px;
                    color: #FF6060;
                    width: 93px;
                    text-align: right;
                    margin-top: 5px;
                }

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }

            .stars {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 196px;

                p {
                    font-size: 36px;
                    color: #FF6060
                }
            }
        }
    }

    .location-collapse {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        margin-top: 25px;
        width: 100%;
        gap: 80px;

        .collapse {
            @include mixins.collapse;
            width: 582px;

            div {
                @include mixins.collapse-div;
                height: 52px;

                .collapse-title,
                .collapse-arrow {
                    font-size: 18px;
                    font-weight: 700;
                    color: white;
                }

                .collapse-title {
                    width: 520px;
                }

                .collapse-arrow {
                    width: 32px;
                }
            }

            /* Contenu caché par défaut */
            .collapse-content {
                @include mixins.collapse-content;
                font-size: 20px;
            }

            /* Quand le collapse est ouvert, le contenu prend de la place */
            .collapse-content.show {
                @include mixins.collapse-content-show;
                font-size: 20px;
                padding: 80px 10px;
            }
        }
    }
}


// Petits mobiles (jusqu'à 480px)
@media (max-width: 480px) {
    .location-page {    
        .location-image {
            width: 85%;
            height: 255px;
    
            div {
                padding: 0 10px;
                height: 24px;
    
                .vector-left,
                .vector-right {
                    max-width: 24px;
                    max-height: 24px;
                }
            }
    
            p {
                display: none;
            }
        }
    
        .location-infos {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            max-width: 413px;
    
            .location-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 85%;
                margin-top: 15px;
                gap: 15px;
    
                .title {    
                    h2 {
                        margin-bottom: 5px;
                        font-size: 18px !important;
                    }
    
                    p {
                        font-size: 14px;
                    }
                }
    
                .button-filter {
                    gap: 5px;
    
                    button {
                        min-width: 88px;
                        width: auto;
                        height: 18px;
                        font-size: 10px;
                    }
                } 
            }
    
            .location-filter {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 85%;
                margin-top: 15px;
                gap: 0;
    
                .author {
                    height: 33px;
                    gap: 10px;
                    order: 2;
                    margin:0;
    
                    p {
                        font-size: 12px;
                        margin-top: 3px;
                    }
    
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
    
                .stars {
                    width: 98px;
                    order: 1;
    
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    
        .location-collapse {
            align-items: center;
            flex-direction: column;
            margin-top: 15px;
            gap: 20px;
    
            .collapse {
                width: 335px;
    
                div {
                    height: 30px;
    
                    .collapse-title,
                    .collapse-arrow {
                        font-size: 13px;
                    }
    
                    .collapse-title {
                        width: 293px;
                    }
    
                    .collapse-arrow {
                        width: 30px;
                    }
                }

                .collapse-content {
                    font-size: 10px;
                }

                .collapse-content.show {
                    padding: 50px 0;
                    font-size: 10px;
                }
            }
        }
    }
}

// Mobiles larges à tablettes petites (481px - 769px)
@media (min-width: 481px) and (max-width: 769px) {
    .location-page {    
        .location-image {
            width: 90%;
            height: 310px;
    
            div {
                padding: 0 15px;
                height: 40px;
    
                .vector-left,
                .vector-right {
                    max-width: 40px;
                    max-height: 40px;
                }
            }
    
            p {
                font-size: 14px;
            }
        }
    
        .location-infos {
            flex-direction: row;
            width: 90%;
            gap:0;
    
            .location-title {
                flex-direction: column;
                margin-top: 20px;
                width: 70%;
                gap: 15px;
    
                .title {    
                    h2 {
                        margin-bottom: 5px;
                        font-size: 20px !important;
                    }
    
                    p {
                        font-size: 16px;
                    }
                }
    
                .button-filter {
                    gap: 10px;
    
                    button {
                        min-width: 88px;
                        width: auto;
                        height: 23px;
                        font-size: 12px;
                    }
                } 
            }
    
            .location-filter {
                flex-direction: column;
                align-items: flex-end;
                margin-top: 20px;
                width: 30%;
                gap: 15px;
    
                .author {
                    height: 40px;
                    gap: 10px;
    
                    p {
                        font-size: 14px;
                        margin-top: 5px;
                    }
    
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
    
                .stars {
                    width: 100px;
    
                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    
        .location-collapse {
            margin-top: 15px;
            width: 85%;
    
            .collapse {
                width: 45%;
    
                div {
                    height: 30px;
    
                    .collapse-title,
                    .collapse-arrow {
                        font-size: 13px;
                    }
    
                    .collapse-title {
                        width: 290px;
                    }
    
                    .collapse-arrow {
                        width: auto;
                    }
                }

                .collapse-content {
                    font-size: 12px;
                }

                .collapse-content.show {
                    padding: 60px 0;
                    font-size: 12px;
                }
            }
        }
    }
}

// Tablettes standard à petits laptops (770px - 1025px)
@media (min-width: 770px) and (max-width: 1025px) {
    .location-page { 
        width: 100%;
        max-width: 1240px;
        height: 100%;
        min-height: 670px;

        .location-image {
            width: 90%;
            height: 390px;
    
            div {
                padding: 0 20px;
                height: 50px;
    
                .vector-left,
                .vector-right {
                    max-width: 50px;
                    max-height: 50px;
                }
            }
    
            p {
                font-size: 16px;
            }
        }
    
        .location-infos {
            flex-direction: row;
            width: 90%;
            gap:0;
    
            .location-title {
                flex-direction: column;
                margin-top: 25px;
                width: 70%;
                gap: 20px;
    
                .title {    
                    h2 {
                        margin-bottom: 5px;
                        font-size: 22px !important;
                    }
    
                    p {
                        font-size: 18px;
                    }
                }
    
                .button-filter {
                    gap: 15px;
    
                    button {
                        min-width: 100px;
                        width: auto;
                        height: 28px;
                        font-size: 14px;
                    }
                } 
            }
    
            .location-filter {
                flex-direction: column;
                align-items: flex-end;
                margin-top: 25px;
                width: 30%;
                gap: 20px;
    
                .author {
                    height: 50px;
                    gap: 10px;
    
                    p {
                        font-size: 16px;
                        margin-top: 5px;
                    }
    
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
    
                .stars {
                    width: 100px;
    
                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    
        .location-collapse {
            margin-top: 25px;
            width: 100%;
            max-width: 872px;
            gap: 100px;
    
            .collapse {
                width: 45%;
    
                div {
                    height: 40px;
    
                    .collapse-title,
                    .collapse-arrow {
                        font-size: 15px;
                    }
    
                    .collapse-title {
                        width: 387px;
                    }
    
                    .collapse-arrow {
                        width: auto;
                    }
                }

                .collapse-content {
                    font-size: 14px;
                    padding:0;
                }

                .collapse-content.show {
                    padding: 60px 0;
                    font-size: 14px;
                }
            }
        }
    }
}